### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np 

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [9]:
total_players = len(purchase_data["SN"].value_counts())

total_player_count = pd.DataFrame({"Total Players": [total_players]})

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#unique items 
number_of_unique_items = len((purchase_data["Item ID"]).unique())
#average price
average_price = (purchase_data["Price"]).mean()
#number of purchases 
number_of_purchases = (purchase_data["Purchase ID"]).count()
#total rev 
total_revenue = (purchase_data["Price"]).sum()

#now need data frame that contains the values we are getting
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
#First we must grab the purchasing data of the group by gender 
gender_stats = purchase_data.groupby("Gender")

#next we must get all the screen names by gender 
total_count_gender = gender_stats.nunique()["SN"]

#third, we need the total count for each gender and then we must divide by total players 
percent_of_players = (total_count_gender /total_players) *100

#now as in previous instructions, a new data frame with the values must be created 
gender_demographics = pd.DataFrame({"Percentage of Players":percent_of_players, "Total Count": total_count_gender})

#when running we do not want the index name in the corner
gender_demographics.index.name = None
#MUST CAPITALIZE THE N 

#Format total counts w/percents 
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players": "{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#total purchase gender
purchase_count = gender_stats["Purchase ID"].count()

#average purchase price gender
average_purchase_price = gender_stats["Price"].mean()

#average purchase total 
average_purchase_total = gender_stats["Price"].sum()

#average purchase total by gender/total per unique shopper 
average_purchase_per_person = average_purchase_total/total_count_gender

#dataframe
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_purchase_price,
                                    "Average Purchase Value":average_purchase_total,
                                    "Avg Purchase Total per Person": average_purchase_per_person})

#index for gender 
gender_demographics.index.name = "Gender"

#Format
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
#break down bins into 4 year segments, create bins with their respective group names
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#segment/sort age values into bins 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

#dataframe w/age group 
age_grouped = purchase_data.groupby("Age Group")

#players per category 
total_count_age = age_grouped["SN"].nunique()

# % by category 
percentage_per_age = (total_count_age/total_players)* 100

#Df with values 
age_demographics = pd.DataFrame({"Percentage of Players": percentage_per_age, "Total Count": total_count_age})

#format Df
age_demographics.index.name = None 

#format output, 2 decimals 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#purchases per group
purchase_count_age = age_grouped["Purchase ID"].count()

#average purchase price per group 
average_purchase_price_age = age_grouped["Price"].mean()

#total purchase value per group 
total_purchase_value = age_grouped["Price"].sum()

#average purchase per person in group 
average_purchase_per_person_age = total_purchase_value/total_count_age

#df with values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": average_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": average_purchase_per_person_age})

#format df no index in corner
age_demographics.index.name = None

#reformat for proper currency style 
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
#screen name group purchasing data 
spender_stats = purchase_data.groupby("SN")

#total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

#average purchase by name 
average_purchase_price_spender = spender_stats["Price"].mean()

#purchase total 
purchase_total_spender = spender_stats["Price"].sum()

#df 
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": average_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

#top five spenders, use descending to achieve this 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#reformat
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80